<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Edit Book</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Nhan Vien</h1>
  <form th:action="@{/nhanviens/edit}" th:object="${nhanvien}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="manv">Ma Nhan Vien:</label>
      <input class="form-control" type="text" th:field="*{manv}" id="manv">
      <span class="text-danger" th:if="${#fields.hasErrors('manv')}" th:errors="*{manv}">Error</span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="tennv">Ten Nhan Vien:</label>
      <input class="form-control" type="text" th:field="*{tennv}" id="tennv">
      <span class="text-danger" th:if="${#fields.hasErrors('tennv')}" th:errors="*{tennv}">Error</span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="phai">Phai:</label>
      <input class="form-control" type="text" th:field="*{phai}" id="phai">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="noisinh">Noi Sinh:</label>
      <input class="form-control" type="text" th:field="*{noisinh}" id="noisinh">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="luong">Luong:</label>
      <input class="form-control" type="text" th:field="*{luong}" id="luong">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="phongban">Phong Ban:</label>
      <select class="form-control" th:field="*{phongban.maphong}" id="phongban">
        <option value="">-- Select Phong Ban --</option>
        <option th:each="phongban : ${listPhongBan}" th:value="${phongban.maphong}" th:text="${phongban.tenphong}" th:selected="${phongban.maphong == nhanvien.phongban.maphong}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('phongban.maphong')}" th:errors="*{phongban.maphong}">Error</span>
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/nhanviens}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>