<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Book List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${title}></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>GioiTinh</th>
      <th>NoiSinh</th>
      <th>PhongBan</th>
      <th>Luong</th>
      <th>Action</th>
    </tr>
    <tr th:each="nhanvien : ${nhanviens}">
      <td th:text="${nhanvien.manv}"></td>
      <td th:text="${nhanvien.tennv}"></td>
      <td>
        <img th:if="${nhanvien.phai == 'nam'}" th:src="@{/images/nam.png}" style="width = 100px, height = 100px"/>
        <img th:if="${nhanvien.phai == 'nu'}" th:src="@{/images/nu.png}" style="width = 100px, height = 100px"/>
      </td>
      <td th:text="${nhanvien.noisinh}"></td>
      <td th:text="${nhanvien.phongban.tenphong}"></td>
      <td th:text="${nhanvien.luong}"></td>
      <td>
        <a th:href="@{/nhanviens/edit/{id}(id=${nhanvien.manv})}">Edit</a>
        <form th:action="@{/nhanviens/delete/{id}(id=${nhanvien.manv})}" method="post" onsubmit="return confirm('Are you sure?')">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>